/* Reset mặc định cho toàn bộ web */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font chữ mặc định cho toàn bộ web */
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; /* Chống thanh cuộn ngang thừa */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    scroll-behavior: smooth;
}